= s3_uploader_form id: "s3-uploader", callback_url: uploaded_files_url do
  = file_field_tag :file, multiple: true

.js-progress-bars

= render "uploaded_files/progress_bar_template"

:coffeescript
  jQuery ->
    $("#s3-uploader").S3Uploader
      progress_bar_target: $('.js-progress-bars')
      additional_data: { upload_id: "#{@upload.id}" }
    $(document).bind 's3_uploads_complete', ->
      location.href = location.href + "?show_success_upload_flash=true"
