.banner {
  background-image: image-url('15246528247_61a5c2c7d5_o2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: 600px;
  width: 100%;
  padding-top: 150px;
  margin-bottom: 1em;
}

.white {
  color: #FFF;
}

.delete-uploaded-file-button, .delete-upload-button {
  margin-bottom: 0px;
}
