%table{ style: 'width: 100%' }
  %thead
    %tr
      %th{ style: "width: 85%" } Name
      %th{ style: "width: 5%" } Items
      %th{ style: "width: 10%" }
  %tbody
    - @uploads.each_with_index do |upload, i|
      %tr
        %td= link_to upload.name, upload
        %td= upload.uploaded_files.count
        %td= link_to "Delete", upload, method: "delete", class: "button alert tiny delete-upload-button"
